/* League of Legends styled TipsButton */
.tips-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tips-button button:hover {
  transform: scale(1.1);
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.4);
  border-color: #c8aa6e; /* Gold medium */
}

.tips-button button:active {
  transform: scale(0.95);
  background-color: #785a28; /* Gold dark */
  color: #f0e6d2; /* Gold light */
}

.tips-button + .tips-button {
  bottom: 6rem;
}
